
<section class="w3l-footers-20">
    <div class="footers20">
        <div class="container">
            <div class="footers20-content">
                <div class="row grid-col-4 grids-content">
                    <div class="column col-lg-3 col-md-6 col-sm-6">
                        <h2>
                            <a class="footer-logo" href="index.html">
                                <span class="fa fa-gamepad"
                                      aria-hidden="true"></span>Odd
                            </a>
                        </h2>
                        <p class="contact-para3 para">
                            Adipisicing elit.exercit ationem accu samus lauda ntium
                            porro sunt
                            repudt ationem accusamus exercit ationem accus amus lauda ntium porro elit exerc
                            sunt repud.
                        </p>
                    </div>
                    <div class="column col-lg-3 col-md-6 col-sm-6">
                        <h4>Latest News</h4>
                        <div class="img-text">
                            <a href="blog.html">
                                <img src="~/KanitPesinde/assets/images/f1.jpg" alt="product"
                                     class="img-responsive ">
                            </a>
                            <div class="post-details">
                                <a href="blog.html">
                                    <p class="contact-mail para"> Black Hunt</p>
                                </a>
                                <p class="para">june 28</p>

                            </div>
                        </div>
                        <div class="img-text mt-3">
                            <a href="blog.html">
                                <img src="~/KanitPesinde/assets/images/f2.jpg" alt="product"
                                     class="img-responsive ">
                            </a>
                            <div class="post-details">
                                <a href="blog.html">
                                    <p class="contact-mail para">Blood Moon</p>
                                </a>
                                <p class="para">june 28</p>

                            </div>
                        </div>
                    </div>
                    <div class="column col-lg-3 col-md-6 col-sm-6">
                        <h4>Instagram</h4>
                        <div class="img-instagram">
                            <div class="img-inst">
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/f6.jpg" alt="product"
                                         class="img-responsive pb-1">
                                </a>
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/f5.jpg" alt="product"
                                         class="img-responsive mt-2">
                                </a>
                            </div>
                            <div class="img-inst">
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/f4.jpg" alt="product"
                                         class="img-responsive pb-1">
                                </a>
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/f3.jpg" alt="product"
                                         class="img-responsive mt-2">
                                </a>
                            </div>
                            <div class="img-inst">
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/f2.jpg" alt="product"
                                         class="img-responsive pb-1">
                                </a>
                                <a href="blog.html">
                                    <img src="~/KanitPesinde/assets/images/f1.jpg" alt="product"
                                         class="img-responsive mt-2 ">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column col-lg-3 col-md-6 col-sm-6">
                        <h4>Newsletter</h4>
                        <p class="contact-para3 para">
                            Adipisicing elit exerc tationem accusamus exercit ationem
                            accus
                            amus lauda ntium porro elit exerc sunt repud.
                        </p>
                        <form action="#" method="post" class="rightside-form">
                            <input type="email" name="email" placeholder="Subscribe" required="">
                            <button class="btn button-icon" type="submit">
                                <span class="fa fa-paper-plane-o"
                                      aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row grid-col-3 grids-content1 bottom-border">
                    <div class="columns text-md-left links-grid col-md-3 ">
                        <ul class="links">
                            <li><a href="#links">Privacy policy</a></li>
                        </ul>
                    </div>
                    <div class="columns text-center copyright-grid col-md-6 ">
                        <p class="copy-footer-29">
                            © 2020 Odd . All rights reserved | Design by <a href="https://w3layouts.com/" target="_blank"> W3Layouts</a>
                        </p>
                    </div>
                    <div class="columns text-md-right social-grid col-md-3 ">
                        <ul class="social">
                            <li><a href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>