<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/KanitPesinde/assets/css/style-freedom-demo.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css" />
</head>
<body>

    <section class=" w3l-header-4">
        <header id="site-header" class="fixed-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <h1><a class="navbar-brand" href="index.html">
                            <span class="fa fa-gamepad" aria-hidden="true"></span>Odd
                        </a></h1>
                    <button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Games
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a href="services.html" class="nav-link">Our Games </a>
                                    <a href="services-single.html" class="nav-link">Games Details </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link drop-text" href="portfolio.html" >Gallery</a>
                                    <a class="nav-link drop-text" href="portfolio-single.html">Gallery
                                        Single</a>
                                    <a class="nav-link drop-text " href="team.html" >Team</a>
                                    <a class="nav-link drop-text" href="team-single.html" >Team Single</a>
                                    <a class="nav-link drop-text" href="timeline.html" >Timeline</a>
                                    <a class="nav-link drop-text" href="faq.html" >Faq</a>
                                    <a class="nav-link drop-text" href="pricing.html" >pricing</a>
                                    <a class="nav-link drop-text" href="email-template.html" >E-template</a>
                                    <a class="nav-link drop-text" href="404.html" >404</a>
                                    <a class="nav-link drop-text" href="coming-soon.html" >Coming soon</a>
                                    <a class="nav-link drop-text" href="login.html" >login</a>
                                    <a class="nav-link drop-text" href="signup.html" >Sign up</a>
                                    <a class="nav-link drop-text" href="landing-single.html" >Landingpage</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link drop-text" href="blog.html" >Blog</a>
                                    <a class="nav-link drop-text" href="blog-single.html" >Blog Single</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Shop
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link drop-text" href="ecommerce.html" >Ecommerce</a>
                                    <a class="nav-link drop-text" href="ecommerce-single.html" >Ecommerce
                                        single</a>
                                    <a class="nav-link drop-text" href="ecommerce-cart.html" >Ecommerce
                                        cart</a>
                                    <a class="nav-link drop-text" href="search-results.html" >Search
                                        Results</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </section>

        
            @RenderBody()
      

     <section class="w3l-footers-20">
        <div class="footers20">
            <div class="container">
                <div class="footers20-content">
                    <div class="row grid-col-4 grids-content">
                        <div class="column col-lg-3 col-md-6 col-sm-6">
                            <h2><a class="footer-logo" href="index.html"><span class="fa fa-gamepad"
                                        aria-hidden="true"></span>Odd</a></h2>
                            <p class="contact-para3 para">Adipisicing elit.exercit ationem accu samus lauda ntium
                                porro sunt
                                repudt ationem accusamus exercit ationem accus amus lauda ntium porro elit exerc
                                sunt repud.
                            </p>
                        </div>
                        <div class="column col-lg-3 col-md-6 col-sm-6">
                            <h4>Latest News</h4>
                            <div class="img-text">
                                <a href="blog.html"><img src="~/KanitPesinde/assets/images/f1.jpg" alt="product"
                                        class="img-responsive "></a>
                                <div class="post-details"> <a href="blog.html">
                                        <p class="contact-mail para"> Black Hunt</p>
                                    </a>
                                    <p class="para">june 28</p>

                                </div>
                            </div>
                            <div class="img-text mt-3">
                                <a href="blog.html"><img src="~/KanitPesinde/assets/images/f2.jpg" alt="product"
                                        class="img-responsive "></a>
                                <div class="post-details"> <a href="blog.html">
                                        <p class="contact-mail para">Blood Moon</p>
                                    </a>
                                    <p class="para">june 28</p>

                                </div>
                            </div>
                        </div>
                        <div class="column col-lg-3 col-md-6 col-sm-6">
                            <h4>Instagram</h4>
                            <div class="img-instagram">
                                <div class="img-inst">
                                    <a href="blog.html"><img src="~/KanitPesinde/assets/images/f6.jpg" alt="product"
                                            class="img-responsive pb-1"> </a>
                                    <a href="blog.html"><img src="~/KanitPesinde/assets/images/f5.jpg" alt="product"
                                            class="img-responsive mt-2"></a>
                                </div>
                                <div class="img-inst">
                                    <a href="blog.html"><img src="~/KanitPesinde/assets/images/f4.jpg" alt="product"
                                            class="img-responsive pb-1"></a>
                                    <a href="blog.html"><img src="~/KanitPesinde/assets/images/f3.jpg" alt="product"
                                            class="img-responsive mt-2"> </a>
                                </div>
                                <div class="img-inst">
                                    <a href="blog.html"><img src="~/KanitPesinde/assets/images/f2.jpg" alt="product"
                                            class="img-responsive pb-1"></a>
                                    <a href="blog.html"><img src="~/KanitPesinde/assets/images/f1.jpg" alt="product"
                                            class="img-responsive mt-2 "></a>
                                </div>
                            </div>
                        </div>
                        <div class="column col-lg-3 col-md-6 col-sm-6">
                            <h4>Newsletter</h4>
                            <p class="contact-para3 para">Adipisicing elit exerc tationem accusamus exercit ationem
                                accus
                                amus lauda ntium porro elit exerc sunt repud.</p>
                            <form action="#" method="post" class="rightside-form">
                                <input type="email" name="email" placeholder="Subscribe" required="">
                                <button class="btn button-icon" type="submit"><span class="fa fa-paper-plane-o"
                                        aria-hidden="true"></span></button>
                            </form>
                        </div>
                    </div>
                    <div class="row grid-col-3 grids-content1 bottom-border">
                        <div class="columns text-md-left links-grid col-md-3 ">
                            <ul class="links">
                                <li><a href="#links">Privacy policy</a></li>
                            </ul>
                        </div>
                        <div class="columns text-center copyright-grid col-md-6 ">
                            <p class="copy-footer-29">© 2020 Odd . All rights reserved | Design by <a
                                    href="https://w3layouts.com/" target="_blank"> W3Layouts</a>
                            </p>
                        </div>
                        <div class="columns text-md-right social-grid col-md-3 ">
                            <ul class="social">
                                <li><a href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                                <li><a href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                                <li><a href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/KanitPesinde/assets/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->
    <!--bootstrap working-->
    <script src="~/KanitPesinde/assets/js/bootstrap.min.js"></script>

</body>
</html>
